# Node modules
node_modules/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Compiled files
*.class
*.o
*.out

# Cache
.cache/

# Ignore Jekyll's generated site
_site/

# Ignore Ruby's temporary files
*.gem
*.rbc
.bundle/

# Ignore log files and temp files
*.log
*.tmp
