<div class="footer">
    <p>
      <a href="{{ '/' | relative_url }}">Home</a>
      <span class="separator"> | </span>
      <a href="{{ '/resources.html' | relative_url }}">Resources</a>
      <span class="separator"> | </span>
      <a href="{{ '/contact.html' | relative_url }}">Contact</a>
      <span class="separator"> | </span>
      <a href="{{ '/blog.html' | relative_url }}">Blog</a>
    </p>
    <p class="copyright">
      &copy; {{ site.author }}. Some Rights Reserved. {{ "now" | date: "%Y" }}
    </p>
  </div>