<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    {% include scripts.html %}
  </head>
  <body>
    <div class="sidebar">
      <img class="profile-pic" src="{{ site.baseurl }}/assets/img/profile-pic.png">
      <h1>{{ site.author.name }}</h1>
      <ul>
        <li><a href="mailto:{{ site.author.email }}">Email</a></li>
        <li><a href="{{ site.author.twitter }}">Twitter</a></li>
      </ul>
    </div>
    <div class="main-content">
      {{ content }}
    </div>
  </body>
</html>
