<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <img src="{{ site.logo | relative_url }}" alt="Logo">
      <p>{{ site.description }}</p>
    </header>
    <!-- Add banner image here -->
    {% if page.url == "/" %}
    <div class="banner">
      <img src="{{ '/assets/images/banner.jpg' | relative_url }}" alt="banner" class="banner-image">
    </div>
    {% endif %}
    <section>
      {{ content }}
    </section>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
  {% include scripts.html %}
</body>
</html>